<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bonus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bonus</ion-title>
    </ion-toolbar>
  </ion-header>


  <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/261620217&color=%23ff0000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/exploorah" title="exploorah" target="_blank" style="color: #cccccc; text-decoration: none;">exploorah</a> · <a href="https://soundcloud.com/exploorah/another-special-day" title="Explorer! - Another Special Day!" target="_blank" style="color: #cccccc; text-decoration: none;">Explorer! - Another Special Day!</a></div>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-subtitle>Un último detalle...</ion-card-subtitle>
      <ion-card-title>Bonus: Reproductor incrustado de Soundcloud 🎵</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
